* {
  box-sizing: border-box;
}

.input-div {
  cursor: pointer;
  width: 55px;
  margin: 0.1rem;
  height: 55px;
  text-align: center;
  vertical-align: middle;
  line-height: 55px;
  background-color: #989484;
  font-weight: 600;
  color: #fff;
  border-radius: 20px;
}

.current-attempt>.focussed {
  border: 2px solid #000;
}